/* 部品:ラジオボタンの設定 */
input[type="radio"] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.radio {
  font-size: 16px;
  padding-left: 40px;
  padding-top: 5px;
  position: relative;
}

.radio:after,
.radio:before {
  position: absolute;
  content: "";
  display: block;
  top: 0%;
}

.radio:after {
  border: 1px solid #bbb;
  border-radius: 50%;
  left: 0;
  width: 30px;
  height: 30px;
}

.radio:before {
  background-color: black;
  border-radius: 50%;
  left: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  opacity: 0;
}

input[type="radio"]:checked+.radio:before {
  opacity: 1;
}

.radio:hover:after {
  border-color: black;
}

/* 全体レイアウトの設定 */
.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.form__button-repair {
  text-align: center;
  background: none;
  color: black;
  font-size: 12px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}