.confirm-table__inner {
  width: 100%;
}

.confirm-table__header {
  padding: 15px;
  width: 35%;
  font-weight: bold;
  text-align: left;
}

.confirm-table__text {
  padding: 15px;
}

.confirm-table__text input {
  width: 100%;
  outline: none;
  border: none;
}

.confirm-table__text p {
  margin: auto 0;
  text-align: left;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button button {
  display: block;
  margin: 5px auto;
}